@import '../../styles/colors';

.container {
   flex: 1;
}

.content {
  flex: 1;
  padding: 20px; /* Adding 'px' for metric */
  flex-direction: row;
}

.sectionTitle {
  font-size: 18px; /* Adding 'px' for metric */
  font-weight: bold;
  margin-top: 20px;
  margin-left: 40px;
  color: $primaryTextColor
}

.sectionHorizontal {
  margin-bottom: 10px; /* Adding 'px' for metric */
  width: 50%;
}

.sectionVertical {
  margin-bottom: 20px; /* Adding 'px' for metric */
  width: 100%;
}

.cardContainer {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contentHorizontal {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.contentVertical {
  display: flex;
  flex: 1;
  flex-direction: column;
}
