i.undo {
    background-image: url(../public/images/icons/arrow-counterclockwise.svg);
}

i.redo {
    background-image: url(../public/images/icons/arrow-clockwise.svg);
}

.icon.paragraph {
    background-image: url(../public/images/icons/text-paragraph.svg);
}

.icon.large-heading,
.icon.h1 {
    background-image: url(../public/images/icons/type-h1.svg);
}

.icon.small-heading,
.icon.h2 {
    background-image: url(../public/images/icons/type-h2.svg);
}

.icon.bullet-list,
.icon.ul {
    background-image: url(../public/images/icons/list-ul.svg);
}

.icon.numbered-list,
.icon.ol {
    background-image: url(../public/images/icons/list-ol.svg);
}

.icon.quote {
    background-image: url(../public/images/icons/chat-square-quote.svg);
}

.icon.code {
    background-image: url(../public/images/icons/code.svg);
}

i.bold {
    background-image: url(../public/images/icons/type-bold.svg);
}

i.italic {
    background-image: url(../public/images/icons/type-italic.svg);
}

i.underline {
    background-image: url(../public/images/icons/type-underline.svg);
}

i.strikethrough {
    background-image: url(../public/images/icons/type-strikethrough.svg);
}

i.code {
    background-image: url(../public/images/icons/code.svg);
}

i.link {
    background-image: url(../public/images/icons/link.svg);
}

i.left-align {
    background-image: url(../public/images/icons/text-left.svg);
}

i.center-align {
    background-image: url(../public/images/icons/text-center.svg);
}

i.right-align {
    background-image: url(../public/images/icons/text-right.svg);
}

i.justify-align {
    background-image: url(../public/images/icons/justify.svg);
}

i.clipboard {
    background-image: url(../public/images/icons/clipboard.svg);
}

#block-controls span.block-type.paragraph {
    background-image: url(../public/images/icons/text-paragraph.svg);
}

#block-controls span.block-type.h1 {
    background-image: url(../public/images/icons/type-h1.svg);
}

#block-controls span.block-type.h2 {
    background-image: url(../public/images/icons/type-h2.svg);
}

#block-controls span.block-type.quote {
    background-image: url(../public/images/icons/chat-square-quote.svg);
}

#block-controls span.block-type.ul {
    background-image: url(../public/images/icons/list-ul.svg);
}

#block-controls span.block-type.ol {
    background-image: url(../public/images/icons/list-ol.svg);
}

#block-controls span.block-type.code {
    background-image: url(../public/images/icons/code.svg);
}

i.chevron-down {
    background-color: transparent;
    background-size: contain;
    display: inline-block;
    height: 8px;
    width: 8px;
    background-image: url(../public/images/icons/chevron-down.svg);
}